*{
    padding: 0;
    margin: 0;
    font-family: 'Rubik Mono One', sans-serif;}
main {
    height: 100vh;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-y: scroll; }
section {
    scroll-snap-align: start;
    background-color: #CDDDC7;
    height: 100vh; }

section video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 1; }

section#one {
    position: relative; }

.oneText {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    z-index: 2; }
.my_text{
    font-size:135px;
    color: #FFFFFF; }
span{
    color: #FDDC3C; }

.imageContainer {
    width: 650px;
    height: 415px;
    background-image: url(source/pedras_two.png); }




input[type=radio] {
    display: none; }

.card {
    position: absolute;
    width: 60%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform .4s ease;
    cursor: pointer; }

.container {
width: 100%;
max-width: 800px;
max-height: 600px;
height: 100%;
margin: 0 auto;
padding:5% 0; 
transform-style: preserve-3d;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center; }

.cards {
position: relative;
width: 100%;
height: 100%;
margin-bottom: 20px; }

img {
width: 100%;
height: 100%;
border-radius: 10px;
object-fit: cover; }

#item-1:checked ~ .cards #pedras-3, #item-2:checked ~ .cards #pedras-1, #item-3:checked ~ .cards #pedras-2 {
transform: translatex(-40%) scale(.8);
opacity: 0.4;
z-index: 0; }

#item-1:checked ~ .cards #pedras-2, #item-2:checked ~ .cards #pedras-3, #item-3:checked ~ .cards #pedras-1 {
transform: translatex(40%) scale(.8);
opacity: .4;
z-index: 0; }

#item-1:checked ~ .cards #pedras-1, #item-2:checked ~ .cards #pedras-2, #item-3:checked ~ .cards #pedras-3 {
transform: translatex(0) scale(1);
opacity: 1;
z-index: 1; }

.text_four{
    color: #36634C;
font-family: 'Cocogoose Condensed Trial', sans-serif;
font-weight: 300;
font-size:30px; }

.wrapper {
    position: relative;
    width: 100%; }

.wrapper img {
position: relative;
z-index: 0; }

.wrapper .text {
position: absolute;
z-index: 10;
left:15%;
bottom: 20%; }

.textcenter img { 
    width: 1000px; }
 
.textcenter { 
    position: relative; }
.text_over_img {
    color: #ffffff;
    font-family: 'Cocogoose Condensed Trial', sans-serif;
    font-weight: 600;
    font-size:43px;
position: absolute;
top: 37.5%;
left: 15%;
width: 100%;
text-align: center; }

#two{
    display: flex;
    justify-content: center;
    align-items: center;
}




